@charset "utf-8";
@import "reset.css";

.pointer {cursor:pointer;}
.underline {text-decoration:underline;}

/*
unit
*/

.hide {display:none;}
.hide.on {display:block;}

.ok {color:#8fdc69; font-size:11px;}
.no {color:#ff5500; font-size:11px;}

.dimmed {width:100%; display:none; height:100%; z-index:100; position:fixed; left:0; top:0; background:rgba(0,0,0,0.3);}
.dimmed.on {display:block;}

#loading {position:fixed; display:none; left:50%; top:50%; z-index:500; margin:-5px 0 0 -55px; width:110px; height:10px;}
#loading.on {display:block;}
ul.loading li {background-color:#ff5500; border-radius:50%; display:inline-block; margin-right:3px; width:10px; height:10px; margin-left:5px; opacity:0.1; transform:scale(0.7); animation:move 0.7s infinite linear;}
ul.loading li:nth-child(1),ul.loading li:nth-child(5){animation-delay: .4s;}
ul.loading li:nth-child(2),ul.loading li:nth-child(4){animation-delay: .3s;}
ul.loading li:nth-child(3) {animation-delay: .2s;}
@keyframes move{0%{transform: scale(1.2);opacity:1;} 100%{transform: scale(0.7);opacity:0.1;}}

#popup {width:100%; display:none; height:100%; position:fixed; left:0; top:0; z-index:1000;}
#popup.on {display:block;}
#popup .dim {position:absolute; z-index:1; display:block; left:0; top:0; width:100%; height:100%;}
#popup.dim .dim {background:rgba(0,0,0,0.5);}

#popup .popup {width:500px; z-index:2; height:500px; background:#fff; position:absolute; left:50%; top:50%; margin:-250px 0 0 -250px;}
#popup .popup h2 {line-height:30px; font-size:14px; color:#333; padding:10px; border-bottom:1px solid #ddd;}
#popup .popup .popup_wrap {padding:10px;}

#popup.popupColumn .popup .popup_wrap textarea {min-height:350px;}

.btn_wrap {width:100%; text-align:center; padding:10px 0;}

.tabWrap {width:100%; height:40px;}
.tab {width:100%; height:50px; white-space: nowrap; overflow:hidden; border-bottom:1px solid #eee;}
.tab li {display:inline-block; color:#333; background:#fff; font-size:12px; cursor:pointer; text-align:center; width:100px; height:40px; line-height:40px; border:1px solid #ddd; margin:0 -1px -1px 0;}
.tab li a {display:block; color:#333;}
.tab li.on {background:#333; color:#fff;}
.tab.fixed {position:fixed; left:0; top:60px; text-align: center; z-index:80; border:0;}
.tab.fixed li {margin:5px; height:40px; line-height:40px; border:1px solid #fff; border-radius:15px; width:80px;}

.tab li:nth-child(1).on {background:#ffc633; border:1px solid #ffc633;} 
.tab li:nth-child(2).on {background:#b63ddb; border:1px solid #b63ddb;} 
.tab li:nth-child(3).on {background:#fc7777; border:1px solid #fc7777;} 

button {display:inline-block; vertical-align: middle; color:#666; background:#eee; white-space:nowrap; border:1px solid #ddd; height:30px; padding:0 10px; line-height:30px;}
button:hover {background:#f2f2f2;}
button[disabled='disabled'] {background:#ddd; color:#999;}
button[type='reset'] {background:#fff; color:#777;}
button.on,
button[type='submit'] {background:#ff5500; color:#fff; border:1px solid #ff5500;}
button.excel {background:#2e7d32; border:1px solid #08743b; color:#fff;}
button.click {background:#339933; color:#fff; border:1px solid #339933;}

#alert {width:100%; height:100%; position:fixed; text-align:center; left:0; top:0; z-index:1000; background:rgba(0,0,0,0.3); display:none;}
#alert.on {display:block;}
#alert .wrap {width:300px; padding:30px 0; margin-left:-150px; background-color:#fff; margin-top:-100px; position:fixed; left:50%; top:50%; background:#fff; box-sizing:border-box; border:1px solid #333; box-shadow:0 0 10px rgba(0,0,0,0.5);}
#alert .wrap .alert {text-align:center; line-height:20px; padding:15px 10px 3px 10px; font-size:11px;}
#alert .wrap h5 {padding:10px 0;}
#alert .wrap .btn_wrap {padding-top:20px;}

.icoHelp {display:inline-block; cursor:default; padding:10px; background:#eee; border:1px solid #ddd;}
.icoHelp .html {display:none;}

#help {display:none; position:absolute; z-index:2; left:0; top:0; margin:10px 0 0 10px; padding:10px; border:1px solid #000; background:#fff;}
#help.on {display:block;}

.rowT {width:100%;}
.rowT th {border:1px solid #ddd; padding:5px; background-color:#eee; width:100px; font-weight:bold; color:#333;}
.rowT td {border:1px solid #ddd; padding:5px;}

/*
z-index
titleWrap : 2
colResize : 2
*/

.btnWrap {width:100%; clear:both; padding:10px 0; text-align:center;}
.btnWrap.tr {text-align:right;}

/* datePicker */
div.datePicker li,
div.datePicker span,
div.datePicker strong {transition:0s all linear;}
div.datePicker {width:100%; overflow:hidden; padding:15px; border:1px solid #ddd; text-align:center; line-height:40px; position:relative;}
div.datePicker h5 {text-align:center; font-size:15px; padding:0px 0 10px 0;}
div.datePicker ol,
div.datePicker ul {width:100%; font-size:0; line-height:0; text-align:left; margin-left:0.6%; padding:0;}
div.datePicker li {width:14.2%; display:inline-block; height:40px; border:1px solid #e9e9e9; text-align:center; vertical-align:top; margin:-1px 0 0 -1px; padding:0; font-size:12px; line-height:40px;}
div.datePicker li:nth-child(7n) {color:blue;}
div.datePicker li:nth-child(7n+1) {color:red;}
div.datePicker li.today {font-weight:bold; background:#fcfcfc;}
div.datePicker li.on {font-weight:bold; background:#777; color:#fff;}
div.datePicker ol li {background:#f9f9f9;}
div.datePicker ul {height:240px;}
div.datePicker ul li.day {cursor:pointer;}
div.datePicker ul li.off {color:#ccc; cursor:default;}
div.datePicker .prev {position:absolute; left:15px; width:40px;height:40px;top:15px; background:url(/img/common/sp.png) no-repeat -80px 0; cursor:pointer; overflow:hidden; text-indent:-9999px;}
div.datePicker .next {position:absolute; right:15px; width:40px;height:40px;top:15px; background:url(/img/common/sp.png) no-repeat -120px 0; cursor:pointer; overflow:hidden; text-indent:-9999px;}

/* datePicker */
.datePickerLayer {width:250px; border:1px solid #ddd; background:#fff; position:absolute; z-index:101; overflow:hidden; margin-top:-1px;}
.datePickerLayer .close {position:absolute;top:15px;right:30px; display:block;height:12px;background-size:12px;}
.datePickerLayer h5 {display:block; text-align:center; font-size:15px; padding:10px 0;}
.datePickerLayer ol,
.datePickerLayer ul {width:100%; font-size:0; line-height:0; text-align:left; margin-left:0.6%; padding:0;}
.datePickerLayer li {width:14.2%; display:inline-block; height:40px; border:1px solid #e9e9e9; text-align:center; vertical-align:top; margin:-1px 0 0 -1px; padding:0; font-size:12px; line-height:40px;}
.datePickerLayer li:nth-child(7n) {color:blue;}
.datePickerLayer li:nth-child(7n+1) {color:red;}
.datePickerLayer li.today {font-weight:bold; background:#fcfcfc;}
.datePickerLayer li.on {font-weight:bold; background:#777; color:#fff;}
.datePickerLayer ol li {background:#f9f9f9;}
.datePickerLayer ul {height:240px;}
.datePickerLayer ul li.day {cursor:pointer;}
.datePickerLayer ul li.off {color:#ccc; cursor:default;}
.datePickerLayer .prev {position:absolute; left:0; width:40px;height:40px;top:0; background:url(/img/common/sp.png) no-repeat -80px 0; cursor:pointer; overflow:hidden; text-indent:-9999px;}
.datePickerLayer .next {position:absolute; right:0; width:40px;height:40px;top:0; background:url(/img/common/sp.png) no-repeat -120px 0; cursor:pointer; overflow:hidden; text-indent:-9999px;}
.datePickerLayer .timeWrap {text-align:center; width:100%; clear:both;}
.datePickerLayer .timeWrap select {width:60px;}

.img_loader {width:100px; border-radius:7px; border:2px solid #fff; overflow:hidden; background:#eee; height:14px; position:absolute; left:50%; top:50%; margin:-7px 0 0 -50px;}
.img_loader .bar {width:0%; background:#ffcb93; display:block; height:10px;}

.testT {width:100%;}
.testT th {border:1px solid #ddd; padding:5px; text-align:center; background:#eee;}
.testT td {border:1px solid #ddd; padding:5px;}

/*검색영역*/
form.search {width:100%; clear:both;}
form.search fieldset {width:100%; clear:both; overflow:hidden; border:1px solid #eee; border-top-color:#ccc; background:#fdfdfd; padding:10px 0;}
form.search table {width:100%;}
form.search table th {width:100px; padding:5px 20px;}
form.search table th.required:before {content:''; position:absolute; width:2px; height:2px; background:#ff0000; display:block; margin:7px 0 0 -10px;}
form.search table td {padding:5px 10px;}
form.search .term{width:100%;}
form.search .term:after{content:""; display:block; clear:both}
form.search .term li{position:relative; float:left; margin-left:-1px; z-index:1}
form.search .term li:first-child{margin-left:0}
form.search .term li a{display:block; min-width:65px; height:28px; line-height:28px; text-align:center; border:1px solid #bfbfbf; background:#fff; }
form.search .term li.on{z-index:2}
form.search .term li.on a{color:#d40e32; border:1px solid #d31032;}
form.search input{width:200px;}
form.search .btnSearch{display:inline-block; margin-left:27px; min-width:65px; height:30px; line-height:30px; color:#fff; text-align:center; background:#616164; vertical-align:top}

.captcha {width:140px; margin-bottom:5px; position:relative; overflow:hidden; height:53px; line-height:30px; text-align:center; padding-right:5px; padding-top:10px; background:#eee;}
.captcha .through {transform:rotate(10deg); width:120%; height:1px; background:#888; position:absolute; left:-10%; top:20px;}
.captcha ol li {display:inline-block; color:#888; font-size:30px; letter-spacing:3px;}
.captcha ol li.lan1 {font-weight:bold; transform:rotate(-30deg);}
.captcha ol li.lan2 {font-family:batang; transform:rotate(10deg);}
.captcha ol li.lan3 {font-weight:bold; transform:rotate(-10deg);}
.captcha ol li.lan4 {font-family:arial; transform:rotate(20deg); font-weight:bold;}
.captcha ol li.lan5 {font-family:impact;}
.captcha ol li.lan6 {font-family:dotum; transform:rotate(-20deg);}
.captcha ol li.lan7 {font-weight:bold; transform:rotate(-40deg);}
.captcha ol li.lan8 {font-family:batang; transform:rotate(15deg);}
.captcha ol li.lan9 {font-weight:bold; transform:rotate(-10deg);}
.captcha ol li.lan0 {font-family:arial; transform:rotate(20deg); font-weight:bold;}

.btnClose {width:30px; height:30px; position:absolute; z-index:2; right:10px; top:3px; cursor:pointer;}
.btnClose ul {width:20px; margin-top:20px; position:relative;}
.btnClose ul li {position:absolute; width:30px; height:3px; background:#555; margin-bottom:5px; border-radius:3px; }
.btnClose ul li:nth-child(1) {left:0; top:0; transform: rotate(45deg);}
.btnClose ul li:nth-child(2) {left:0; top:0; transform: rotate(-45deg);}
.btnClose:hover ul li {background:#000;}

.text-info {text-align:right; font-size:12px; padding:15px 0; color:#ff5500;}