@charset "utf-8";

div,a,li,ol,ul,dl,dt,dd,span,strong,p,h1,h2,h3,h4,h5,img,input,button,iframe,textarea,label,fieldset {
    transition:0.2s all linear;
} /* transition:0.3s all linear; transition:0s background linear; */


.theme {width:100%; padding:15px 0; clear:both; text-align:center;}
.theme li {opacity:0.8; cursor:pointer; border-radius:100%; display:inline-block; background-color:#fff; margin:0 5px; width:20px; height:20px; box-shadow:0 0 3px rgba(0,0,0,0.2);}
.theme li:nth-child(1) {background-color:#ccc;}
.theme li:nth-child(2) {background-color:#e6acef;}
.theme li:nth-child(3) {background-color:#b3efac;}
.theme li:nth-child(4) {background-color:#acc5ef;}
.theme li:nth-child(5) {background-color:#efd0ac;}

.theme1 .theme li:nth-child(1),
.theme2 .theme li:nth-child(2),
.theme3 .theme li:nth-child(3),
.theme4 .theme li:nth-child(4),
.theme5 .theme li:nth-child(5) {opacity:1; box-shadow:0 0 5px 3px rgba(255,255,255,0.5);}

/* 회색 */
.theme1 .rvCalendar .day strong.dayNo1,
.theme1 .rvCalendar .day strong.dayNo2 {background:#bbb;} 
.theme1 .rvCalendar .day .box {background:#fdfdfd;}
.theme1 .rvCalendar .day p .dim {background:rgba(253,253,253,0.5);}
.theme1 .roomT th {border:1px solid #eee; background:#fafafa;}
.theme1 .roomT td {border:1px solid #eee;}
.theme1 .listT th {border-bottom:1px solid #eee; background:#f5f5f5;}
.theme1 .listT td {border-bottom:1px solid #eee;}
.theme1 .listT tr:nth-child(2n) {background:#fafafa;}

/* 보라 */
.theme1 .rvCalendar .day strong.dayNo1,
.theme1 .rvCalendar .day strong.dayNo2 {background:#b0a0b6;} 
.theme2 .rvCalendar .day .box {background:#fdf8ff;}
.theme2 .rvCalendar .day p .dim {background:rgba(253,248,250,0.5);}
.theme2 .roomT th {border:1px solid #eadbee; background:#fdf8ff;}
.theme2 .roomT td {border:1px solid #eadbee;}
.theme2 .listT th {border-bottom:1px solid #eadbee; background:#fdf8ff;}
.theme2 .listT td {border-bottom:1px solid #eadbee;}
.theme2 .listT tr:nth-child(2n) {background:#fbf8fc;}

/* 그린 */
.theme1 .rvCalendar .day strong.dayNo1,
.theme1 .rvCalendar .day strong.dayNo2 {background:#b8cab4;} 
.theme3 .rvCalendar .day .box {background:#f4fff2;}
.theme3 .rvCalendar .day p .dim {background:rgba(244,255,242,0.5);}
.theme3 .roomT th {border:1px solid #d5e8d1; background:#f4fff2;}
.theme3 .roomT td {border:1px solid #d5e8d1;}
.theme3 .listT th {border-bottom:1px solid #d5e8d1; background:#f4fff2;}
.theme3 .listT td {border-bottom:1px solid #d5e8d1;}
.theme3 .listT tr:nth-child(2n) {background:#f7faf6;}

/* 블루 */
.theme1 .rvCalendar .day strong.dayNo1,
.theme1 .rvCalendar .day strong.dayNo2 {background:#b4bfca;} 
.theme4 .rvCalendar .day .box {background:#f2f9ff;}
.theme4 .rvCalendar .day p .dim {background:rgba(242,249,255,0.5);}
.theme4 .roomT th {border:1px solid #d1dde8; background:#f2f9ff;}
.theme4 .roomT td {border:1px solid #d1dde8;}
.theme4 .listT th {border-bottom:1px solid #d1dde8; background:#f2f9ff;}
.theme4 .listT td {border-bottom:1px solid #d1dde8;}
.theme4 .listT tr:nth-child(2n) {background:#fafcfd;}

/* 주황 */
.theme1 .rvCalendar .day strong.dayNo1,
.theme1 .rvCalendar .day strong.dayNo2 {background:#cac3b4;} 
.theme5 .rvCalendar .day .box {background:#fffbf2; border:1px solid #e8e0d1;}
.theme5 .rvCalendar .day p .dim {background:rgba(255,251,242,0.5);}
.theme5 .roomT th {border:1px solid #e8e0d1; background:#fffbf2;}
.theme5 .roomT td {border:1px solid #e8e0d1;}
.theme5 .listT th {border-bottom:1px solid #e8e0d1; background:#fffbf2;}
.theme5 .listT td {border-bottom:1px solid #e8e0d1;}
.theme5 .listT tr:nth-child(2n) {background:#fbfaf7;}

body {background:#efefef;} /*efefef background:url(/img/common/bg.png) repeat;*/

#header {width:100%; margin:0 auto; clear:both; position:relative; z-index:2;}
#header h1 {width:100%; margin:0 auto;}
#header h1 a {overflow:hidden; text-indent:-900px; display:block; background:url(/img/common/logo.png) no-repeat; width:300px; margin:0 auto; height:150px; text-align:center;}

.header {height:50px; position:relative; background-color: #fff; line-height:50px; width:100%; position:fixed; left:0; top:0; box-shadow:0 0 5px rgb(0,0,0,0.2);} 
.header h2 {text-align: center;}
.back {position:relative; width:50px; height:50px; cursor: pointer;}
.back ul {position:absolute; left:15px; top:15px;}
.back ul li {background-color:#333; position:absolute; width:30px; height:3px; border-radius:3px; box-shadow: 0 0 10px rgb(0,0,0,0.5);}
.back ul li:nth-child(1) {width:15px; left:-1px; top:3px; transform: rotate(-45deg);}
.back ul li:nth-child(2) {left:1px; top:7px;}
.back ul li:nth-child(3) {width:15px; left:-1px; top:11px; transform: rotate(45deg);}

#order {width:100%; clear:both;}
#order .btnClose {position:fixed;}
.content #order h2 {padding:20px 0 5px 0; border-bottom:2px solid #333;}
.content #order h3 {font-size:14px; width:100%; overflow:hidden; padding:10px 10px; border:1px solid #dedede; margin-bottom:-1px; background:#f2f2f2;}
.content #order h3 label {width:100%; overflow:hidden; display:block; cursor:pointer; }
.content #order h3 input {margin-right:5px; margin-top:-1px; vertical-align:middle;}
#order .left {float:left; width:43%;}
#order .right {float:right; width:53%;}
#order table {width:100%; margin-bottom:10px;}
#order th {border:1px solid #ddd; padding:5px; width:100px; background:#eee;}
#order td {border:1px solid #ddd; padding:5px;}
#order table.total th {padding:10px;}
#order table.total td {padding:10px; text-align: right;}
#order table.total td strong {font-size:20px; font-weight:bold; color:#ff0000;}
#order .btnOrder {background:#ff0000; border:0; font-size:16px; font-weight: bold; line-height:45px; height:45px; padding:0 20px;}
#order .btnCancel {background:#ccc; border:0; font-size:16px; font-weight: bold; line-height:45px; height:45px; padding:0 20px;}
#agree p {font-family: dotum; font-size:12px; padding:10px 0;}

#visualInfo {width:100%;}
#visualInfo p {text-align:right; font-size:11px; padding-top:15px; font-family: 'dotum';}

.price1 {color:#ff0000; font-size:16px;}
.font1 {color:#ff5500;}

#visual {width:1260px; min-height:200px; position:relative; margin:0 auto; display:block;}
#visualMobile {width:100%; display:none;}
#visualMobile li {padding-bottom:20px;}
#visualMobile li img {width:100%;}

#visualText {width:100%; padding:30px 0 30px 0; position:relative; z-index:3; text-align:center; margin-top:-70px; border:1px solid #f5d8ba; background:#fff6ea;}

#event {width:100%; clear:both; display:block; overflow:hidden; margin-top:20px;}
#event table {width:100%; text-align:center; white-space: nowrap;}
#event td {width:33.3%; border:1px solid #ffdeec; background:#fff;} /*e4d0f2*/
#event img {width:100%; max-width:438px;}
#event td:nth-child(2) {background:#fff;}

#eventMobile {width:100%; display:none; clear:both; overflow:hidden; margin-top:20px;}
#eventMobile table {width:100%; text-align:center; white-space: nowrap;}
#eventMobile td {border:1px solid #ffdeec; background:#fff;}
#eventMobile img {width:100%;}

#visualRoom {width:100%; display:block;}
#visualRoom li {padding-bottom:20px;}
#visualRoom li img {width:100%;}

.main {width:100%; background-color:#fff; position:relative; padding-bottom:30px; color:#fff;}
.main .box {position:relative; z-index:2; margin:0 auto; width:1300px; padding:20px;}
.main .box ul {width:100%; font-size:0; padding-bottom:10px; overflow: hidden;}
.main .box ul li {width:25%; float:left;}
.main .box ul li img {width:100%;}
.main .box p {text-align:right; text-shadow:1px 1px 1px rgba(0,0,0,0.5); padding-top:15px; font-family: 'Alegreya','NanumSquare','Apple SD Gothic Neo', 'Malgun Gothic','Nanum Gothic', 'Noto Sans','sans-serif';}
.main .box p.en {font-size:14px;}
.main .box p.big {font-size:18px;}
.main .background {width:100%; position:absolute; left:0; bottom:0; height:50%; background:#edd6b8; z-index:1;}

.slide {width:100%; position:relative; overflow:hidden; clear:both; white-space:nowrap;}
.slide ul li {width:100%; display:inline-block; padding:0;}
.slide ul li img {width:100%;}
.slide ol {position:absolute; left:50%; bottom:20px; margin-left:-100px;}
.slide ol li {width:80px; display:inline-block; padding:0; margin-left:3px; cursor:pointer;}
.slide ol li img {width:100%; border:3px solid #fff;}
.slide ol li.on img {border:3px solid #ff5500;}

.slide .btn_prev,
.slide .btn_next  {transition:none; position:absolute; border:0; outline:0; z-index:2; top:50%; overflow:hidden; text-indent:-900px; font-size:0; display:block; width:40px; height:40px; margin-top:-20px; background:url(/img/common/sp.png) no-repeat;}
.slide .btn_prev {left:10px; background-position:0 0;}
.slide .btn_next {right:10px; background-position:-40px 0;}
.slide .btn_prev:hover {background-position:0 -40px;}
.slide .btn_next:hover {background-position:-40px -40px;}

#topMenu {width:100%; position:relative; height:50px; z-index:88; clear:both; text-align:center; white-space:nowrap;}
#topMenu a {color:#333; height:50px; overflow:hidden; background-color:#fff; font-weight:bold; display:block; margin-left:-1px;}
#topMenu a:hover {background:#333; color:#fff;}

#topMenu ul {transition:none; height:50px; overflow:hidden; box-shadow:0 0 3px rgb(0,0,0,0.2); display:inline-block;}
#topMenu ul li {display:inline-block; text-align: center;}
#topMenu ul li.on a {background:#333; color:#fff;}
#topMenu ul li span {display:block; height:50px; line-height:50px; font-size:14px;}
#topMenu ul li a span.ko {display:none;}
#topMenu ul li a:hover span.en {display:none;}
#topMenu ul li a:hover span.ko {display:block;}
#topMenu ul li.on a span.en {display:none;}
#topMenu ul li.on a span.ko {display:block;}
#topMenu ul li:nth-child(1) a {width:70px}
#topMenu ul li:nth-child(2) a {width:70px}
#topMenu ul li:nth-child(3) a {width:90px}
#topMenu ul li:nth-child(4) a {width:70px}

.fixed #topMenu {position:fixed; left:0; top:0; background:#fff; box-shadow:0 0 10px rgb(0,0,0,0.5);}
.fixed #topMenu ul {box-shadow:none;}

#btnMenu {width:30px; height:50px; position:fixed; z-index:91; left:7px; top:13px; cursor:pointer;}
#btnMenu ul {width:30px; position:relative;}
#btnMenu ul li {position:absolute; width:30px; height:3px; background:#111; margin-bottom:5px; border-radius:3px;}
#btnMenu ul li:nth-child(1) {left:0; top:0;}
#btnMenu ul li:nth-child(2) {left:0; top:10px;}
#btnMenu ul li:nth-child(3) {left:0; top:20px;}
#btnMenu:hover ul li {background:#000;}
#btnMenu:hover ul li:nth-child(1) {transform: rotate(45deg); width:20px; left:14px; top:4px;}
#btnMenu:hover ul li:nth-child(3) {transform: rotate(-45deg); width:20px; left:14px; top:16px;}
.menuOpen #btnMenu ul li:nth-child(1) {transform: rotate(-45deg); width:20px; left:-4px; top:4px;}
.menuOpen #btnMenu ul li:nth-child(3) {transform: rotate(45deg); width:20px; left:-4px; top:16px;}
.menuOpen #btnMenu {left:270px;}
.menuOpen #leftMenu {left:0px;}
.menuOpen #leftMenuCover {display:block;}
.menuOpen #topMenu ul {display:none;} 
.menuOpen .tab.fixed {display:none;}

#leftMenuCover {width:100%; height:100%; display:none; position:fixed; z-index:88; left:0; top:0; background:rgba(0,0,0,0.5)}
#leftMenu {width:260px; height:100%; left:-300px; top:0; z-index:90; position:fixed; color:#fff;}
#leftMenu .box {width:260px; height:100%; background:rgba(0,0,0,0.8); border-right:1px solid #000; box-shadow:0 0 10px rgb(0,0,0,0.5);}
#leftMenu ul {width:100%;}
#leftMenu ul li {width:100%; margin:0; display:block; height:50px; overflow:hidden;}
#leftMenu ul li a {color:#aaa; display:block; height:50px; padding:0 20px;}
#leftMenu ul li a:hover {color:#fff;}
#leftMenu ul li.on a {background:rgba(0,0,0,0.3); color:#ff5500;}
#leftMenu ul li span {transition:none; display:block; height:50px; line-height:50px; font-size:14px;}
#leftMenu ul li a span.ko {margin-top:-50px;}
#leftMenu ul li a:hover span.ko {margin-top:0;}
#leftMenu ul li.on a span.ko {margin-top:0;}

#kakao_ch {width:100%; padding:50px 0; text-align: center;}
#kakao_ch h5 {padding-bottom:20px; font-size:16px;}

#sns {width:100%; padding:50px 0; text-align: center;}
#sns h5 {padding-bottom:20px; font-size:16px; color:#333;}

ul.sns {display:inline-block;}
ul.sns li {display:inline-block; vertical-align:bottom; transform: scale(0.8); cursor: pointer; overflow:hidden; border-radius:5px; width:50px; height:50px; margin:0 5px; background-image: url(/img/common/ico_sns.png);}
ul.sns li:hover {transform: scale(1);}
ul.sns li.kakao {background-position:-50px 0;}
ul.sns li.story {background-position:-100px 0;}
ul.sns li.naver {background-position:-150px 0;}
ul.sns li.band {background-position:-200px 0;}
ul.sns li.facebook {background-position:-250px 0;}
ul.sns li.twitter {background-position:-300px 0;}
ul.sns li.instar {background-position:-350px 0;}
ul.sns li.kakao_ch {background-position:-400px 0;}

.rvCalendar .head {background:#fff; width:100%; z-index:101;}
.rvCalendar .head.fixed {position:fixed; left:0; top:50px; border-bottom:1px solid #ddd;}

.scrollWrap {width:100%; clear:both; overflow: auto; background:none right top;}

#container {width:100%}

.headerWrapper {width:100%; min-height:200px;}

.content {position:relative; min-height:200px; width:1300px; margin:20px auto 0 auto; box-shadow:0 0 3px rgba(0,0,0,0.2); clear:both; padding:20px; background-color:#fff; overflow: auto;}
.content h2 {font-size:16px; padding:10px 0; color:#333; clear:both; position:relative;}
.content h2 span {font-size:12px; font-weight:normal; color:#999;}
.content h2 span.btnArea {position:absolute; right:0; bottom:10px;}

.content h3 {padding:20px 0 10px 0; font-size:16px; color:#333; clear:both; position:relative;}
.content h3 span {font-size:12px; font-weight:normal; color:#999;}

#mapText {color:#333; padding:10px 0; text-align: center;}
#mapText strong {font-size:14px;}
#mapCover {width:1240px; position:absolute; left:50%; margin-left:-700px; height:350px; z-index:2;}
#map {width:1300px; text-align: center; border:20px solid #fff; z-index:1; box-shadow:0 0 3px rgb(0,0,0,0.2); height:350px; margin:0 auto; clear:both; text-align:center;}

#cs {width:100%; clear:both; text-align: center; padding-top:30px;}
#cs .cs dl {width:100%;}
#cs .cs dl dt {padding-bottom:5px;}
#cs .info {height:130px; width:100%;}
#cs .info dl {width:100%; padding-top:30px;}
#cs .info dl dt {padding-bottom:5px;}
#cs .cs strong,
#cs .info strong {font-size:16px; display:inline-block; padding:0 5px; color:#333;}

#footer {width:100%; margin:0 auto; clear:both; text-align:center; padding-top:30px;}
#footer .copy {width:100%; clear:both; padding:30px 0; color:#ccc; background:#333;}
#footer .copy p {padding:5px 0;}
#footer .copy p span {cursor:pointer;}
#footer .copy p.admin {color:#ff5500;}

#login {position:fixed;text-align:center; padding:30px 50px; z-index:500; width:300px; height:230px; border:1px solid #ccc; left:50%; top:50%; margin:-115px 0 0 -150px; background:#eee;}
#login h3 {font-size:20px; line-height:30px; padding:10px 0;}
#login input {margin-bottom:5px;}
#login button {display:inlin-block; margin-top:10px;}

table.readT {width:100%; white-space:nowrap; border-top:1px solid #ddd;}
table.readT th {text-align:left; width:120px; border:1px solid #eee; padding:3px; background:#fafafa;}
table.readT th.required::after {content:'*'; padding-left:3px; display:inline-block; font-size:11px; color:#ff5500;}
table.readT td {border:1px solid #eee; padding:5px;}

table.listT {width:100%; line-height:28px; white-space:nowrap; border-top:1px solid #ddd;}
table.listT th {text-align:center; border-bottom:1px solid #eee; padding:3px 10px; background:#f5f5f5;}
table.listT td {border-bottom:1px solid #eee; padding:5px 10px;}
table.listT tr:nth-child(2n) {background:#fafafa;}

table.roomT {width:100%; white-space:nowrap; font-size:13px;}
table.roomT th {text-align:center; border:1px solid #eee; padding:10px; background:#fafafa;}
table.roomT td {text-align:center; border:1px solid #eee; padding:10px;}

ul.guide {padding:0 0; font-size:13px; padding-bottom:20px;}
.paginator {padding:10px 0; text-align: center;}

.txtGuide {font-size:11px; color:#ff5500;}


.readBox {width:100%; height:100px; padding:5px; border:1px solid #eee; overflow: auto;}

.layerPwd {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerPwd form {padding:30px 20px; box-shadow:0 0 10px rgba(0,0,0,0.5); width:200px; position:fixed; left:50%; margin:-100px 0 0 -100px; top:50%; background:#fff; border:1px solid #aaa;}
.layerPwd h3 {font-size:16px; line-height:30px; color:#333;}
.layerPwd h3 span {font-size:11px; font-weight:normal; color:#ff5500; line-height:15px;}
.layerPwd input {border:1px solid #999;}
.layerPwd .btnWrap {padding-top:20px;}

#qna {clear:both; width:100%; overflow:hidden; padding-top:30px;}

/*reservation*/
/* 달력 */
.rvCalendar {width:100%; clear:both; white-space:nowrap;}
.content .rvCalendar h2 {font-size:20px; padding:20px 0; text-align:center; line-height:40px; color:#333;}
.rvCalendar h2 .prev,
.rvCalendar h2 .next {vertical-align:middle; margin-top:-3px; cursor:pointer; background:url(/img/common/sp.png) no-repeat; width:40px; height:40px; display:inline-block; overflow:hidden; font-size:0; text-indent:-900px;}
.rvCalendar h2 .prev {background-position:0 -40px;}
.rvCalendar h2 .next {background-position:-40px -40px;}
.rvCalendar h2 .center {width:130px; display:inline-block; color:#333; font-size:20px;}
.rvCalendar .calendar {width:100%; clear:both; overflow:hidden; margin:0 auto; padding:5px 0;}
.rvCalendar .headWrap {height:80px; width:100%;}

.rvCalendar .week {display:none; width:14%; float:left; height:50px; line-height:50px; text-align:center;}
.rvCalendar .day {width:14.25%; position:relative; padding:5px; background:#fff; float:left; overflow:hidden;}
.rvCalendar .day .soldout {width:100%; height:100%; left:0; top:0; z-index:2; background:rgba(255,255,255,0.01); position:absolute;}

.rvCalendar .day .box {background:#fdfdfd; border:1px solid #ddd; border-radius:10px; padding:5px;}
.rvCalendar .day .box.on {border:1px solid #ccc;}
.rvCalendar .day .box.off {border:0;}
.rvCalendar .week:nth-child(7n),
.rvCalendar .day:nth-child(7n) {width:14.50%;}
.rvCalendar .day strong.dayNo1,
.rvCalendar .day strong.dayNo2 {display:block; margin:3px 3px 6px 3px; line-height:24px; width:24px; height:24px; background:#bbb; font-weight:normal; color:#fff; text-align:center; border-radius:100%;}
.rvCalendar .day strong.dayNo2 {display:none;}
.rvCalendar .day .holiday {display:none; color:#ff0000; position:absolute; left:38px; top:11px; font-size:11px;}
.rvCalendar .day .peakCode {display:none; position:absolute; right:3px; top:3px; font-size:11px; color:#ddd; font-weight:normal;}
.rvCalendar .day.off {opacity: 0.5;}
.rvCalendar .day.done .box {background:#fff; border:1px solid #fff;}
.rvCalendar .day.done span,
.rvCalendar .day.done p {display:none}
.rvCalendar .off:before {background:url(/img/common/mask_white.png) repeat; content:''; width:100%; height:100%; position:absolute; left:0; top:0; z-index:3;}
.rvCalendar .day.sat strong.dayNo1,
.rvCalendar .day.sat strong.dayNo2 {background-color:#3393ff;}
.rvCalendar .day.sun strong.dayNo1,
.rvCalendar .day.sun strong.dayNo2 {background-color:#ff6d59;}
.rvCalendar .day p {position:relative; width:100%; display:block; overflow:hidden; line-height:25px;}
.rvCalendar .day p .dim {position:absolute; left:0; top:0; width:100%; height:100%; display:block; padding:0; margin:0; background:rgba(253,253,253,0.5)}
.rvCalendar .day p strong.roomName {cursor:pointer; margin-right:1px; font-size:11px; font-weight:normal; display:inline-block;}
.rvCalendar .day p strong.roomName span {color:#555; display:inline-block; border:1px solid #ddd; background:#fff;}
.rvCalendar .day p strong.price {font-size:11px; font-weight:normal; display:inline-block; color:#aaa;}

.rvCalendar .day p span {font-size:11px; line-height:17px; font-weight:normal; display:inline-block; padding:0 3px; border-radius:2px; color:#fff;}
.rvCalendar .day p span.ico_1 {background:green;}
.rvCalendar .day p span.ico_2 {background:#ff5500;}
.rvCalendar .day p span.ico_3 {background:red;}


/* 객실선택팝업 */
.layerRoom {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerRoom form {border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); width:260px; height:260px; position:fixed; left:50%; margin:-130px 0 0 -130px; top:50%; background:#fff; border:1px solid #aaa;}

.layerRoom h5 {color:#333;}
.layerRoom {padding-top:15px; color:#333;}
.layerRoom .box {padding-top:10px;}
.layerRoom p {line-height:40px; position:relative;}
.layerRoom p .roomName {cursor:pointer; color:#000; font-size:18px; display:inlie-block;}
.layerRoom p .price {cursor:pointer; color:#666; padding-left:5px; display:inlie-block;}
.layerRoom p b {display:inlie-block; }
.layerRoom p b .dim {background:rgba(255,255,255,0.7); position:absolute; width:100%; height:42px; left:0; top:-1px;}
.layerRoom p b span {display:inlie-block; padding:0 10px; color:#fff;}
.layerRoom p span.ico_1 {background:green;}
.layerRoom p span.ico_2 {background:#ff5500;}
.layerRoom p span.ico_3 {background:red;}


/* 동의팝업 */
.layerAgree {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerAgree form {border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); position:fixed; left:50%; top:50%; background:#fff; border:1px solid #aaa;}
.layerAgree form .scroll {width:100%; height:450px; padding:0 10px 10px 10px; border:1px solid #eee; overflow: auto;}
.layerAgree label {cursor:pointer;}
.layerAgree .btnWrap button {margin:0 3px; padding:0 20px;}
.layerAgree table {width:100%;}
.layerAgree table th {white-space:nowrap; background:#fafafa; padding:3px 5px; border:1px solid #eee;}
.layerAgree table td {padding:3px 5px; border:1px solid #eee;}

/* 예약팝업 */
.layerReservation {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerReservation form {border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); position:fixed; left:50%; top:50%; background:#fff; border:1px solid #aaa;}
.layerAgree form, 
.layerReservation form {width:450px; margin:-300px 0 0 -225px;}

.layerMain {position:absolute; display:block; box-shadow:3px 3px 10px rgba(0,0,0,0.3); width:360px; left:40px; top:40px; z-index:10;}
.layerMain div.box {padding:15px; background:#fff; border:1px solid #aaa;}
.layerMain h5 {color:#000; font-size:16px; padding-bottom:10px;}
.layerMain p {color:#333; font-size:14px; line-height:25px;}
.layerMain a {color:#ff5500;}
.layerMain ol {padding-left:10px;}
.layerMain ol li {color:#333; list-style:decimal; padding-bottom:2px;}
.layerMain ol li b {color:#000; font-size:12px;}
.layerMain ol li strong {color:#000; font-size:12px;}
.layerMain.martPickup p {font-size:14px;}
.layerMain.martPickup a {color:#ff5500;}

.layerMain.martPickup {left:40px; width:360px;}
.layerMain.openEvent {left:420px; width:260px;}

body.noscroll {overflow:hidden;}
#mainDimmed {position:fixed; z-index:900; width:100%; height:100%; background:rgba(0,0,0,0.6); left:0; top:0;}

.mainPopup {z-index:901; position:fixed; left:50%; top:50%; margin:-325px 0 0 -250px; width:500px; box-shadow:5px 5px 5px rgba(0,0,0,0.3); height:650px; overflow:hidden; border-radius:10px;}
.mainPopup img {width:100%; box-shadow:3px 3px 10px rgba(0,0,0,0.3);}
.mainPopup .btnClose ul li {background:#000;}
.mainPopup .btnClose:hover ul li {background:#ff0000;}

/*Qna*/
.layerQna {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerQna form {border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); width:380px; position:fixed; left:50%; margin:-240px 0 0 -190px; top:50%; background:#fff; border:1px solid #aaa;}
.layerMyQna {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerMyQna form {border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); width:480px; position:fixed; left:50%; margin:-240px 0 0 -240px; top:50%; background:#fff; border:1px solid #aaa;}

.icoScroll {display:none; opacity:0.3; width:39px; height:30px; position:absolute; right:20px; margin-top:-40px; background:url(/img/common/ico_scroll.png) no-repeat right top;}

#movie {width:100%; background:#ddd; margin-top:20px; }
.movie {width:100%; padding-bottom:56.5%; position:relative;}
.movie iframe {width:100%; height:100%; position:absolute; left:0; top:0;}

@media (max-width: 320px) {
    #topMenu ul {display:none;}
}
@media (max-width: 500px) {
    .mainPopup {width:100%; height:auto; padding:10px; left:0; top:0; margin:0;}
}
@media (max-width: 600px) {
    .layerMain {position:relative; width:100%; left:0; top:0; margin-bottom:20px; box-shadow:none;}
    .layerMain.martPickup {left:0; width:100%;}
    .layerMain.openEvent {left:0; width:100%;}
    .main .box p.en {font-size:12px;}
    #visualText img {width:60%;}
}
@media (max-width: 480px) {
    #visualText {padding-top:30px;}
    #visualText img {width:60%;}
    #event {display:none;}
    #eventMobile {display:block;}
    #topMenu {padding-left:0px;}
    #topMenu a {padding:0 3px;}
    .layerQna form,
    .layerAgree form {width:90%; height:90%; overflow:auto; left:5%; top:5%; margin:0;}
    .layerReservation form {width:90%; height:90%; overflow:auto; left:5%; top:5%; margin:0;}
}
@media (max-width: 1300px) {
    #map {width:1000px}
    #visual {width:960px;}
    .content {width:1000px;}
    .main .box {width:1000px;}
    #mapCover {width:940px; margin-left:-500px;}
}
@media (max-width: 1000px) {
    .slide ol {display:none;}
    .icoScroll {display:block;} 
    .content {width:100%; padding:20px;} 
    .main .box {width:100%; padding:20px;}
    .main .background {height:65%;} 
    #mapCover {width:82%; left:0; margin:0;}
    #map {width:100%;}
    #visual {width:100%;}
    .rvCalendar .day .holiday,
    .rvCalendar .day .peakCode {display:none;}
}

@media (max-width:800px) {
    .content .rvCalendar .day strong.dayNo1 {display:none;}
    .content .rvCalendar .day strong.dayNo2 {display:block;}
}

.guide-landscape {display:none;}

@media (max-width:700px) {
    .guide-landscape {display:block;}
    #visual {display:none;}
    #visualMobile {display:block;}
    .content .rvCalendar .box {border:0; background:none;}
    .content .rvCalendar .box.on {border:0;}
    .content .rvCalendar .day {padding:0;}
    .content .rvCalendar .day p {display:none;}
    .content .rvCalendar .day strong.dayNo2 {display:block; line-height:50px; margin:10px auto; width:50px; height:50px;}
    .rvCalendar .day .soldout::before {content:''; opacity:0.6; transform:rotate(-45deg); position:absolute; width:100%; height:4px; background:#ff0000; left:0; top:35px; border-radius:2px;}
    .layerAgree form, 
    .layerAgree form {width:90%; height:90%; overflow:auto; left:5%; top:5%; margin:0;}
    .layerAgree form .scroll {height:400px;}
    .layerReservation form {width:90%; height:90%; overflow:auto; left:5%; top:5%; margin:0;}
    
}
@media (max-width:450px) {
    .content .rvCalendar .day strong.dayNo2 {line-height:40px; width:40px; height:40px; margin:10px auto;}
}
@media (max-width:355px) {
    .rvCalendar .day .soldout::before {width:110%; top:30px;}
    .content .rvCalendar .day strong.dayNo2 {line-height:35px; width:35px; height:35px; margin:10px auto;}
}

@media (max-height: 700px) {
    .layerQna form,
    .layerAgree form {width:90%; height:90%; overflow:auto; left:5%; top:5%; margin:0;}
    .layerReservation form {width:90%; height:90%; overflow:auto; left:5%; top:5%; margin:0;}
}
/* 객실목록 */
.reservationList {clear:both; width:100%; overflow:hidden;}

/* 메인  background:url(/img/visual/bg.png) no-repeat; */
#main {width:100%; overflow:auto; height:100%; background-color:#fff; background-size:100% auto; background-position:0 100px;}

