@charset "utf-8";

div,a,li,ol,ul,dl,dt,dd,span,strong,p,h1,h2,h3,h4,h5,img,input,button,iframe,textarea,label,fieldset {
    transition:0.2s all linear;
} /* transition:0.3s all linear; transition:0s background linear; */

body {background:url(/img/common/bg.png) repeat;} /*background:url(/img/common/bg.png) repeat;*/

#header {width:100%; margin:0 auto; clear:both; position:relative; z-index:2;}
#header h1 {width:100%; margin:0 auto;}
#header h1 a {overflow:hidden; text-indent:-900px; display:block; background:url(/img/common/logo.png) no-repeat; width:300px; margin:0 auto; height:150px; text-align:center;}

.theme {width:100%; padding:15px 0; clear:both; text-align:center;}
.theme li {opacity:0.8; cursor:pointer; border-radius:100%; display:inline-block; background-color:#fff; margin:0 5px; width:20px; height:20px; box-shadow:0 0 3px rgba(0,0,0,0.2);}
.theme li:nth-child(1) {background-color:#ccc;}
.theme li:nth-child(2) {background-color:#e6acef;}
.theme li:nth-child(3) {background-color:#b3efac;}
.theme li:nth-child(4) {background-color:#acc5ef;}
.theme li:nth-child(5) {background-color:#efd0ac;}

.theme1 .theme li:nth-child(1),
.theme2 .theme li:nth-child(2),
.theme3 .theme li:nth-child(3),
.theme4 .theme li:nth-child(4),
.theme5 .theme li:nth-child(5) {opacity:1; box-shadow:0 0 5px 3px rgba(255,255,255,0.5);}

/* 회색 */
.theme1 .rvCalendar .day strong.dayNo1,
.theme1 .rvCalendar .day strong.dayNo2 {background:#bbb;} 
.theme1 .rvCalendar .day .box {background:#fdfdfd; border:1px solid #ddd;}
.theme1 .rvCalendar .day p .dim {background:rgba(253,253,253,0.5);}
.theme1 .roomT th {border:1px solid #eee; background:#fafafa;}
.theme1 .roomT td {border:1px solid #eee;}
.theme1 .listT th {border-bottom:1px solid #eee; background:#f5f5f5;}
.theme1 .listT td {border-bottom:1px solid #eee;}
.theme1 .listT tr:nth-child(2n) {background:#fafafa;}

/* 보라 */
.theme1 .rvCalendar .day strong.dayNo1,
.theme1 .rvCalendar .day strong.dayNo2 {background:#b0a0b6;} 
.theme2 .rvCalendar .day .box {background:#fdf8ff; border:1px solid #eadbee;}
.theme2 .rvCalendar .day p .dim {background:rgba(253,248,250,0.5);}
.theme2 .roomT th {border:1px solid #eadbee; background:#fdf8ff;}
.theme2 .roomT td {border:1px solid #eadbee;}
.theme2 .listT th {border-bottom:1px solid #eadbee; background:#fdf8ff;}
.theme2 .listT td {border-bottom:1px solid #eadbee;}
.theme2 .listT tr:nth-child(2n) {background:#fbf8fc;}

/* 그린 */
.theme1 .rvCalendar .day strong.dayNo1,
.theme1 .rvCalendar .day strong.dayNo2 {background:#b8cab4;} 
.theme3 .rvCalendar .day .box {background:#f4fff2; border:1px solid #d5e8d1;}
.theme3 .rvCalendar .day p .dim {background:rgba(244,255,242,0.5);}
.theme3 .roomT th {border:1px solid #d5e8d1; background:#f4fff2;}
.theme3 .roomT td {border:1px solid #d5e8d1;}
.theme3 .listT th {border-bottom:1px solid #d5e8d1; background:#f4fff2;}
.theme3 .listT td {border-bottom:1px solid #d5e8d1;}
.theme3 .listT tr:nth-child(2n) {background:#f7faf6;}

/* 블루 */
.theme1 .rvCalendar .day strong.dayNo1,
.theme1 .rvCalendar .day strong.dayNo2 {background:#b4bfca;} 
.theme4 .rvCalendar .day .box {background:#f2f9ff; border:1px solid #d1dde8;}
.theme4 .rvCalendar .day p .dim {background:rgba(242,249,255,0.5);}
.theme4 .roomT th {border:1px solid #d1dde8; background:#f2f9ff;}
.theme4 .roomT td {border:1px solid #d1dde8;}
.theme4 .listT th {border-bottom:1px solid #d1dde8; background:#f2f9ff;}
.theme4 .listT td {border-bottom:1px solid #d1dde8;}
.theme4 .listT tr:nth-child(2n) {background:#fafcfd;}

/* 주황 */
.theme1 .rvCalendar .day strong.dayNo1,
.theme1 .rvCalendar .day strong.dayNo2 {background:#cac3b4;} 
.theme5 .rvCalendar .day .box {background:#fffbf2; border:1px solid #e8e0d1;}
.theme5 .rvCalendar .day p .dim {background:rgba(255,251,242,0.5);}
.theme5 .roomT th {border:1px solid #e8e0d1; background:#fffbf2;}
.theme5 .roomT td {border:1px solid #e8e0d1;}
.theme5 .listT th {border-bottom:1px solid #e8e0d1; background:#fffbf2;}
.theme5 .listT td {border-bottom:1px solid #e8e0d1;}
.theme5 .listT tr:nth-child(2n) {background:#fbfaf7;}

.slide {width:100%; position:relative; overflow:hidden; clear:both; white-space:nowrap;}
.slide ul li {width:100%; display:inline-block; padding:0;}
.slide ul li img {width:100%;}
.slide .btn_prev,
.slide .btn_next  {transition:none; position:absolute; border:0; outline:0; z-index:2; top:50%; overflow:hidden; text-indent:-900px; font-size:0; display:block; width:40px; height:40px; margin-top:-20px; background:url(/img/common/sp.png) no-repeat;}
.slide .btn_prev {left:10px; background-position:0 0;}
.slide .btn_next {right:10px; background-position:-40px 0;}
.slide .btn_prev:hover {background-position:0 -40px;}
.slide .btn_next:hover {background-position:-40px -40px;}

#visual {position:absolute; left:0; top:0; z-index: 1;}

#topMenu {width:100%; position:relative; height:50px; z-index:88; clear:both; text-align:center; white-space:nowrap;}
#topMenu a {color:#333; height:50px; overflow:hidden; background-color:#fff; font-weight:bold; display:block; padding:0 20px; margin-left:-1px;}
#topMenu a:hover {background:#333; color:#fff;}
#topMenu ul {transition:none; height:50px; overflow:hidden; box-shadow:0 0 5px rgb(0,0,0,0.2); display:inline-block;}
#topMenu ul li {display:inline-block;}
#topMenu ul li.on a {background:#333; color:#fff;}
#topMenu ul li span {display:block; height:50px; line-height:50px; font-size:14px;}
#topMenu ul li a span.ko {margin-top:-50px;}
#topMenu ul li a:hover span.ko {margin-top:0;}
#topMenu ul li.on a span.ko {margin-top:0;}
.fixed #topMenu {position:fixed; left:0; top:0; background:#fff; box-shadow:0 0 10px rgb(0,0,0,0.5);}
.fixed #topMenu ul {box-shadow:none;}

#btnMenu {width:30px; height:50px; position:fixed; z-index:91; left:13px; top:13px; cursor:pointer;}
#btnMenu ul {width:30px; position:relative;}
#btnMenu ul li {position:absolute; width:30px; height:3px; background:#111; margin-bottom:5px; border-radius:3px;}
#btnMenu ul li:nth-child(1) {left:0; top:0;}
#btnMenu ul li:nth-child(2) {left:0; top:10px;}
#btnMenu ul li:nth-child(3) {left:0; top:20px;}
#btnMenu:hover ul li {background:#000;}
#btnMenu:hover ul li:nth-child(1) {transform: rotate(45deg); width:20px; left:14px; top:4px;}
#btnMenu:hover ul li:nth-child(3) {transform: rotate(-45deg); width:20px; left:14px; top:16px;}
.menuOpen #btnMenu ul li:nth-child(1) {transform: rotate(-45deg); width:20px; left:-4px; top:4px;}
.menuOpen #btnMenu ul li:nth-child(3) {transform: rotate(45deg); width:20px; left:-4px; top:16px;}
.menuOpen #btnMenu {left:270px;}
.menuOpen #leftMenu {left:0px;}
.menuOpen #leftMenuCover {display:block;}
.menuOpen #topMenu ul {display:none;} 
.menuOpen .tab.fixed {display:none;}

#leftMenuCover {width:100%; height:100%; display:none; position:fixed; z-index:88; left:0; top:0; background:rgba(0,0,0,0.5)}
#leftMenu {width:260px; height:100%; left:-300px; top:0; z-index:90; position:fixed; color:#fff;}
#leftMenu .box {width:260px; height:100%; background:rgba(0,0,0,0.8); border-right:1px solid #000; box-shadow:0 0 10px rgb(0,0,0,0.5);}
#leftMenu ul {width:100%;}
#leftMenu ul li {width:100%; margin:0; display:block; height:50px; overflow:hidden;}
#leftMenu ul li a {color:#aaa; display:block; height:50px; padding:0 20px;}
#leftMenu ul li a:hover {color:#fff;}
#leftMenu ul li.on a {background:rgba(0,0,0,0.3); color:#ff5500;}
#leftMenu ul li span {transition:none; display:block; height:50px; line-height:50px; font-size:14px;}
#leftMenu ul li a span.ko {margin-top:-50px;}
#leftMenu ul li a:hover span.ko {margin-top:0;}
#leftMenu ul li.on a span.ko {margin-top:0;}

#kakao_ch {width:100%; padding:50px 0; text-align: center;}
#kakao_ch h5 {padding-bottom:20px; font-size:16px;}

#sns {width:100%; padding:50px 0; text-align: center;}
#sns h5 {padding-bottom:20px; font-size:16px; color:#333;}

ul.sns {display:inline-block;}
ul.sns li {display:inline-block; vertical-align:bottom; transform: scale(0.8); cursor: pointer; overflow:hidden; border-radius:5px; width:50px; height:50px; margin:0 5px; background-image: url(/img/common/ico_sns.png);}
ul.sns li:hover {transform: scale(1);}
ul.sns li.kakao {background-position:-50px 0;}
ul.sns li.story {background-position:-100px 0;}
ul.sns li.naver {background-position:-150px 0;}
ul.sns li.band {background-position:-200px 0;}
ul.sns li.facebook {background-position:-250px 0;}
ul.sns li.twitter {background-position:-300px 0;}
ul.sns li.instar {background-position:-350px 0;}
ul.sns li.kakao_ch {background-position:-400px 0;}

.rvCalendar .head {background:#fff; width:100%; z-index:101;}
.rvCalendar .head.fixed {position:fixed; left:0; top:50px; border-bottom:1px solid #ddd;}

.scrollWrap {width:100%; clear:both; overflow: auto; background:none right top;}

#content {min-height:300px; width:1400px; box-shadow:0 0 3px rgb(0,0,0,0.2); margin:30px auto 0 auto; clear:both; padding:20px; background-color:#fff;}
#content h2 {font-size:16px; padding:10px 0; color:#333; clear:both; position:relative;}
#content h2 span {font-size:12px; font-weight:normal; color:#999;}
#content h2 span.btnArea {position:absolute; right:0; bottom:10px;}

#content h3 {padding:20px 0 10px 0; font-size:16px; color:#333; clear:both; position:relative;}
#content h3 span {font-size:12px; font-weight:normal; color:#999;}

#mapText {color:#333; padding:10px 0;}
#mapText strong {font-size:14px;}
#footer {width:100%; margin:0 auto; clear:both; text-align:center; padding-top:50px;}

#mapCover {width:1340px; position:absolute; left:50%; margin-left:-700px; height:350px; z-index:2;}
#map {width:1400px; border:20px solid #fff; z-index:1; box-shadow:0 0 3px rgb(0,0,0,0.2); height:350px; margin:0 auto; clear:both; text-align:center;}

#footer .cs {padding-top:20px; width:100%;}
#footer .cs dl {width:100%;}
#footer .cs dl dt {padding-bottom:5px;}
#footer .info {height:130px; width:100%;}
#footer .info dl {width:100%; padding-top:30px;}
#footer .info dl dt {padding-bottom:5px;}
#footer .cs strong,
#footer .info strong {font-size:16px; display:inline-block; padding:0 5px; color:#333;}

#footer .copy {width:100%; clear:both; padding:30px 0; color:#ccc; background:#333;}
#footer .copy p {padding:5px 0;}
#footer .copy p span {cursor:pointer;}
#footer .copy p.admin {color:#ff5500;}

#login {position:fixed;text-align:center; padding:30px 50px; z-index:500; width:300px; height:230px; border:1px solid #ccc; left:50%; top:50%; margin:-115px 0 0 -150px; background:#eee;}
#login h3 {font-size:20px; line-height:30px; padding:10px 0;}
#login input {margin-bottom:5px;}
#login button {display:inlin-block; margin-top:10px;}

#visual {width:100%;}

table.readT {width:100%; white-space:nowrap; border-top:1px solid #ddd;}
table.readT th {text-align:left; width:120px; border:1px solid #eee; padding:3px; background:#fafafa;}
table.readT th.required::after {content:'*'; padding-left:3px; display:inline-block; font-size:11px; color:#ff5500;}
table.readT td {border:1px solid #eee; padding:5px;}

table.listT {width:100%; line-height:28px; white-space:nowrap; border-top:1px solid #ddd;}
table.listT th {text-align:center; border-bottom:1px solid #eee; padding:3px 10px; background:#f5f5f5;}
table.listT td {border-bottom:1px solid #eee; padding:5px 10px;}
table.listT tr:nth-child(2n) {background:#fafafa;}

table.roomT {width:100%; white-space:nowrap; font-size:13px;}
table.roomT th {text-align:center; border:1px solid #eee; padding:10px; background:#fafafa;}
table.roomT td {text-align:center; border:1px solid #eee; padding:10px;}

ul.guide {padding:0 10px; font-size:13px; padding-bottom:20px;}
.paginator {padding:10px 0; text-align: center;}

.txtGuide {font-size:11px; color:#ff5500;}


.readBox {width:100%; height:100px; padding:5px; border:1px solid #eee; overflow: auto;}

.layerPwd {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerPwd form {padding:30px 20px; box-shadow:0 0 10px rgba(0,0,0,0.5); width:200px; position:fixed; left:50%; margin:-100px 0 0 -100px; top:50%; background:#fff; border:1px solid #aaa;}
.layerPwd h3 {font-size:16px; line-height:30px; color:#333;}
.layerPwd h3 span {font-size:11px; font-weight:normal; color:#ff5500; line-height:15px;}
.layerPwd input {border:1px solid #999;}
.layerPwd .btnWrap {padding-top:20px;}

#qna {clear:both; width:100%; overflow:hidden; padding-top:30px;}

/*reservation*/
/* 달력 */
.rvCalendar {width:100%; clear:both; white-space:nowrap;}
#content .rvCalendar h2 {font-size:20px; padding:20px 0; text-align:center; line-height:40px; color:#333;}
.rvCalendar h2 .prev,
.rvCalendar h2 .next {vertical-align:middle; margin-top:-3px; cursor:pointer; background:url(/img/common/sp.png) no-repeat; width:40px; height:40px; display:inline-block; overflow:hidden; font-size:0; text-indent:-900px;}
.rvCalendar h2 .prev {background-position:0 -40px;}
.rvCalendar h2 .next {background-position:-40px -40px;}
.rvCalendar .calendar {width:100%; clear:both; overflow:hidden; margin:0 auto; padding:5px 0;}
.rvCalendar .headWrap {height:80px; width:100%;}

.rvCalendar .week {display:none; width:14%; float:left; height:50px; line-height:50px; text-align:center;}
.rvCalendar .day {width:14%; position:relative; padding:5px; background:#fff; float:left; overflow:hidden;}
.rvCalendar .day .box {background:#fdfdfd; border:1px solid #ddd; border-radius:10px; padding:5px;}
.rvCalendar .day .box.on {border:1px solid #ccc;}
.rvCalendar .week:nth-child(7n),
.rvCalendar .day:nth-child(7n) {width:16%;}
.rvCalendar .day strong.dayNo1,
.rvCalendar .day strong.dayNo2 {display:block; margin:3px 3px 6px 3px; line-height:24px; width:24px; height:24px; background:#bbb; font-weight:normal; color:#fff; text-align:center; border-radius:100%;}
.rvCalendar .day strong.dayNo2 {display:none;}
.rvCalendar .day .holiday {display:none; color:#ff0000; position:absolute; left:38px; top:11px; font-size:11px;}
.rvCalendar .day .peakCode {display:none; position:absolute; right:3px; top:3px; font-size:11px; color:#ddd; font-weight:normal;}
.rvCalendar .day.off {opacity: 0.5;}
.rvCalendar .day.done .box {background:#fff; border:1px solid #fff;}
.rvCalendar .day.done span,
.rvCalendar .day.done p {display:none}
.rvCalendar .off:before {background:url(/img/common/mask_white.png) repeat; content:''; width:100%; height:100%; position:absolute; left:0; top:0; z-index:3;}
.rvCalendar .day.sat strong.dayNo1,
.rvCalendar .day.sat strong.dayNo2 {background-color:#3393ff;}
.rvCalendar .day.sun strong.dayNo1,
.rvCalendar .day.sun strong.dayNo2 {background-color:#ff6d59;}
.rvCalendar .day p {position:relative; width:100%; display:block; overflow:hidden; line-height:25px;}
.rvCalendar .day p .dim {position:absolute; left:0; top:0; width:100%; height:100%; display:block; padding:0; margin:0; background:rgba(253,253,253,0.5)}
.rvCalendar .day p strong.roomName {cursor:pointer; margin-right:1px; font-size:11px; font-weight:normal; display:inline-block;}
.rvCalendar .day p strong.roomName span {color:#555; display:inline-block; border:1px solid #ddd; background:#fff;}
.rvCalendar .day p strong.price {font-size:11px; font-weight:normal; display:inline-block; color:#aaa;}

.rvCalendar .day p span {font-size:11px; line-height:17px; font-weight:normal; display:inline-block; padding:0 3px; border-radius:2px; color:#fff;}
.rvCalendar .day p span.ico_1 {background:green;}
.rvCalendar .day p span.ico_2 {background:#ff5500;}
.rvCalendar .day p span.ico_3 {background:red;}


/* 객실선택팝업 */
.layerRoom {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerRoom form {border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); width:260px; height:260px; position:fixed; left:50%; margin:-130px 0 0 -130px; top:50%; background:#fff; border:1px solid #aaa;}

.layerRoom h5 {color:#333;}
.layerRoom {padding-top:15px; color:#333;}
.layerRoom .box {padding-top:10px;}
.layerRoom p {line-height:40px; position:relative;}
.layerRoom p .roomName {cursor:pointer; color:#000; font-size:18px; display:inlie-block;}
.layerRoom p .price {cursor:pointer; color:#666; padding-left:5px; display:inlie-block;}
.layerRoom p b {display:inlie-block; }
.layerRoom p b .dim {background:rgba(255,255,255,0.7); position:absolute; width:100%; height:42px; left:0; top:-1px;}
.layerRoom p b span {display:inlie-block; padding:0 10px; color:#fff;}
.layerRoom p span.ico_1 {background:green;}
.layerRoom p span.ico_2 {background:#ff5500;}
.layerRoom p span.ico_3 {background:red;}


/* 예약팝업 */
.layerReservation {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerReservation form {border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); width:380px; position:fixed; left:50%; margin:-300px 0 0 -190px; top:50%; background:#fff; border:1px solid #aaa;}

/*Qna*/
.layerQna {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerQna form {border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); width:380px; position:fixed; left:50%; margin:-240px 0 0 -190px; top:50%; background:#fff; border:1px solid #aaa;}
.layerMyQna {position:fixed; width:100%; height:100%; left:0; top:0; z-index:100; background:url(/img/common/mask.png) repeat;}
.layerMyQna form {border-radius:5px; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5); width:480px; position:fixed; left:50%; margin:-240px 0 0 -240px; top:50%; background:#fff; border:1px solid #aaa;}

.icoScroll {display:none; opacity:0.3; width:39px; height:30px; position:absolute; right:20px; margin-top:-40px; background:url(/img/common/ico_scroll.png) no-repeat right top;}
@media (max-width: 360px) {
    #topMenu ul {display:none;}
}
@media (max-width: 480px) {
    #topMenu {padding-left:20px;}
    #topMenu a {padding:0 15px;} 
    .layerQna form,
    .layerReservation form {width:90%; height:90%; overflow:auto; left:5%; top:5%; margin:0;}
}
@media (max-width: 1400px) {
    #map {width:1000px}
    #content {width:1000px}
    #mapCover {width:940px; margin-left:-500px;}
}
@media (max-width: 1000px) {
    .icoScroll {display:block;} 
    #content {width:100%; padding:20px;}
    #mapCover {width:82%; left:0; margin:0;}
    #map {width:100%;}
    .rvCalendar .day .holiday,
    .rvCalendar .day .peakCode {display:none;}
}

@media (max-width:800px) {
    #content .rvCalendar .day strong.dayNo1 {display:none;}
    #content .rvCalendar .day strong.dayNo2 {display:block;}
}
@media (max-width:700px) {
    #content .rvCalendar .box {border:0; background:none;}
    #content .rvCalendar .day {padding:0;}
    #content .rvCalendar .day p {display:none;}
    #content .rvCalendar .day strong.dayNo2 {display:block; line-height:50px; margin:0 auto; width:50px; height:50px;}
}
@media (max-width:450px) {
    #content .rvCalendar .day strong.dayNo2 {line-height:30px; width:30px; height:30px; }
}


@media (max-height: 700px) {
    .layerQna form,
    .layerReservation form {width:90%; height:90%; overflow:auto; left:5%; top:5%; margin:0;}
}
/* 객실목록 */
.reservationList {clear:both; width:100%; overflow:hidden;}

/* 메인  background:url(/img/visual/bg.png) no-repeat; */
#main {width:100%; overflow:auto; height:100%; background-color:#fff; background-size:100% auto; background-position:0 100px;}


