<!DOCTYPE html>
<html lang="kor" data-ng-app="KaisaApp" data-ng-controller="KaisaController">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<meta name="robots" content="index,follow">
<title>chlois</title>
<meta name="keywords" content="클로리스,가평펜션,가평풀빌라,풀빌라">
<meta name="description" content="클로리스,가평펜션,가평풀빌라,풀빌라">
<meta property="og:type" content="website">
<meta property="og:title" content="클로리스">
<meta property="og:description" content="클로리스,가평펜션,가평풀빌라,풀빌라">
<meta property="og:image" content="http://chlois.co.kr/img/common/logo.png">
<meta property="og:url" content="mobydi.co.kr">
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="shortcut icon" href="/img/favicon.ico?ver=0.1" type="image/x-icon">
<link rel="stylesheet" href="/css/common.css" type="text/css">
<link rel="stylesheet" href="/css/front.css" type="text/css">
<!--[if lt IE 10]>
<link rel="stylesheet" href="/css/old_browser.css" type="text/css" />
<![endif]-->
<!--[if IE 8]>
<script src="/js/lib/es/es5-shim.min.js"></script>
<![endif]-->
<script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
<script src="/js/lib/jquery/stellar.js"></script>
<script src="/js/lib/angular/angular.min.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3322a4d2abce512425b96866d9844fd1"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<!-- <script src="/js/min/kaisa.js"></script> -->
<script src="/js/module/kaisaConstant.js"></script>
<script src="/js/module/kaisaCode.js"></script>
<script src="/js/module/kaisaDirective.js"></script>
<script src="/js/module/kaisaFilter.js"></script>
<script src="/js/module/kaisaStorage.js"></script>
<script src="/js/module/kaisaUrl.js"></script>
<script src="/js/module/kaisaUtil.js"></script>
<script src="/js/module/kaisaApi.js"></script>
<script src="/js/module/kaisaPopup.js"></script>
<script src="/js/module/kaisaCommon.js"></script>

<script src="/js/controller/front/main.js"></script>
</head>
<body data-ng-controller="BodyController">
<div id="container" data-ng-class="{fixed : window.scrollTop > window.menuPostion, menuOpen : menu.open}">
	<div data-kaisa-header="true"></div>
	<div data-kaisa-menu="true"></div>
		
		<div>
			<div style="padding:150px 0; margin:50px 0; text-align:center; background-color:#eee;">main</div>
		</div>
		<!-- <div id="visual">
			<div class="slide" data-ng-mouseover="visualIntervalStop()" data-ng-mouseout="visualIntervalStart()">
				<button type="button" class="btn_prev" data-ng-click="visual.prev()"></button>
				<button type="button" class="btn_next" data-ng-click="visual.next()"></button>
				<ul>
					<li data-ng-repeat="i in visualList" data-ng-show="$index == visual.idx"><img data-ng-src="{{image.host}}{{i.url}}" alt="" /></li>
				</ul>
			</div>
		</div> -->

	</div>	
</div>
</body>
</html>
