<!DOCTYPE html>
<html lang="kor" data-ng-app="KaisaApp" data-ng-controller="KaisaController">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<meta name="robots" content="noindex,nofollow">
<title>chlois</title>
<meta name="keywords" content="끌로이스,가평펜션,가평풀빌라,풀빌라">
<meta name="description" content="끌로이스,가평펜션,가평풀빌라,풀빌라">
<meta property="og:type" content="website">
<meta property="og:title" content="끌로이스">
<meta property="og:description" content="끌로이스,가평펜션,가평풀빌라,풀빌라">
<meta property="og:image" content="http://chlois.co.kr/img/common/logo.png">
<meta property="og:url" content="mobydi.co.kr">
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="shortcut icon" href="/img/favicon.ico?ver=0.1" type="image/x-icon">
<link rel="stylesheet" href="/css/common.css" type="text/css">
<link rel="stylesheet" href="/css/front.css" type="text/css">
<script>
//tagManager
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KZDQ6ZW');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126527248-1"></script>
<script>
//analytics
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-126527248-1');
</script>
<!--[if lt IE 10]>
<link rel="stylesheet" href="/css/old_browser.css" type="text/css" />
<![endif]-->
<!--[if IE 8]>
<script src="/js/lib/es/es5-shim.min.js"></script>
<![endif]-->
<script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
<script src="/js/lib/angular/angular.min.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3322a4d2abce512425b96866d9844fd1"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<!-- <script src="/js/min/kaisa.js"></script> -->
<script src="/js/module/kaisaConstant.js"></script>
<script src="/js/module/kaisaCode.js"></script>
<script src="/js/module/kaisaDirective.js"></script>
<script src="/js/module/kaisaFilter.js"></script>
<script src="/js/module/kaisaStorage.js"></script>
<script src="/js/module/kaisaUrl.js"></script>
<script src="/js/module/kaisaUtil.js"></script>
<script src="/js/module/kaisaApi.js"></script>
<script src="/js/module/kaisaPopup.js"></script>
<script src="/js/module/kaisaCommon.js"></script>

<script src="/js/controller/front/room.js"></script>
</head>
<body data-ng-controller="BodyController">
<div id="container" data-ng-class="{fixed : window.scrollTop > window.menuPostion, menuOpen : menu.open}">
	<div data-kaisa-header="true"></div>
	<div data-kaisa-menu="true"></div>
	<div id="content" class="content hide" data-ng-class="{on : initLoad}">
		<div id="room">
			<div class="tabWrap">
				<div class="tab" data-ng-class="{fixed : window.scrollTop > 200}">
					<ul>
						<li data-ng-repeat="(idx, i) in roomList" data-ng-click="tab.click(idx)" data-ng-class="{on : tab.idx == idx}">
							{{ i.ROOM_NAME }}
						</li>
					</ul>
				</div>
			</div>
			<div data-ng-show="tab.idx == 0">
				<div id="visualRoom">
					<ul>
						<li data-ng-repeat="i in visualList1"><img data-ng-src="{{image.host}}{{i.url}}" alt="" /></li>
					</ul>
				</div>	
			</div>
			<div data-ng-show="tab.idx == 1">
				<div id="visualRoom">
					<ul>
						<li data-ng-repeat="i in visualList2"><img data-ng-src="{{image.host}}{{i.url}}" alt="" /></li>
					</ul>
				</div>
			</div>
			<div data-ng-show="tab.idx == 2">
				<div id="visualRoom">
					<ul>
						<li data-ng-repeat="i in visualList3"><img data-ng-src="{{image.host}}{{i.url}}" alt="" /></li>
					</ul>
				</div>
			</div>
			
			
			<!--a동 노란냉장고 b동 연보라냉장고 c동 핑크냉장고-->

			<!--
			배너내용
			22년7월11일 오픈!!!
			오픈이벤트 
			하나!!바베큐장 전기로스터 무료이용 가능
			두울!!온수추가비용 70000원---50000원으로 할인행사!!!
			세엣!!무료 픽업서비스!!!(가평역,가평터미널)
			네엣!!조식무료 서비스(샌드위치 및 음료제공)
			-->

			<h3>객실정보<span>(A동,B동,C동 각 50평형)</span></h3>
			<p>
				1층:거실1,욕실1,개별실내수영장1(3m*7m 수심1.2M),개별 실내 테라스 바베큐장1<br />
				2층:분리형객실2,욕실1,TEA 테라스룸<br />
				<br />
				입실안내:오후15시 이후 입실 / 오전 11시 이전 퇴실<br />
				조식 서비스
			</p>
			<h3>#EQUIPMENT :</h3>
			<p>
				수영장:라탄 썬베드&테이블,천장형 제습닥트<br />
				욕실:비데,어메니티set(샴푸,컨디셔너,바디워시) 1층,2층 동일<br />
				거실 :55인치 TV,침대형 쇼파,4인 식탁,냉장고,한샘싱크대 및 인덕션,각종 조리도구 및 식기류(유아용포함)<br />
				
				침실A :55인치 TV,라지킹 붙박이 침대,호텔식 침구set<br />
				침실B :라지킹 붙박이 침대,호텔식 침구set,화장대,드라이기<br />
				Tea 테라스 및 Bar 테이블set<br />
				바베큐장:6인 바베큐 로스터 테이블,밥솥,전자레인지<br />
				기타: 빌트인 시스템 캐리어,삼성 냉,난방기(거실 45평형/침실A 9평형/침실B 9평형)<br />
			</p>
			<!-- 객실정보 -->
			<div data-kaisa-room-info></div>

		</div>

	</div>
	<div data-kaisa-sns="true"></div>
	<div data-kaisa-map="true"></div>
	<div data-kaisa-cs="true"></div>
	<div data-kaisa-footer="true"></div>
</div>
</body>
</html>