<div>
	<div id="footer">

		<!-- <div id="kakao_ch">
			<h5>카카오 친구하기</h5>
			<ul class="sns">
				<li class="kakao_ch"></li>
			</ul>
		</div> -->

		<div id="kakaoContainer"></div>

		<div id="sns">
			<h5>친구에게 공유하기</h5>
			<ul class="sns">
				<li class="kakao" data-ng-click="sns('kakao')"></li>
				<li class="story" data-ng-click="sns('story')"></li>
				<li class="naver" data-ng-click="sns('naver')"></li>
				<li class="band" data-ng-click="sns('band')"></li>
				<li class="facebook" data-ng-click="sns('facebook')"></li>
				<li class="twitter" data-ng-click="sns('twitter')"></li>
				<!-- <li class="instar" data-ng-click="sns('instar')"></li> -->
			</ul>
		</div>

		<div id="mapText">주소 : <strong>경기도 가평군 가평읍 마장리 83</strong></div>
		<div id="mapCover"></div>
		<div id="map"></div>
		
		<div class="cs">
			<dl>
				<dt><img data-ng-src="/img/common/ico_cs.png" alt="" /></dt>
				<dd>
					<p>9시 ~ 18시</p>
					전화 : <strong>010-5366-1900</strong>
				</dd>
			</ul>
		</div>
		<div class="info">
			<dl>
				<dt><img data-ng-src="/img/common/ico_bank_kb.png" alt="" /></dt>
				<dd>국민은행 : <strong>20390-1041-80098</strong>
					예금주 : <strong>최원호</strong>
				</dd>
			</ul>
		</div>
		<div class="copy">
			<p>상호 : 클로리스 <br /> 주소 : 경기도 가평군 가평읍 마장리 83, 전화 : 010-5366-1900 <br />
			copyright (c) 2022 chlois. all right reserved <!-- // <span data-ng-click="admin.layer.open()">.</span> -->
			<!-- // <p data-ng-if="admin.user" class="admin"><span data-ng-click="admin.logout()">관리자 로그아웃</span></p> -->
		</div>
	</div>
	<div kaisa-unit></div>
</div>