<div>
	<div class="menuWrap">
		<div id="topMenu">
			<ul>
				<li data-ng-repeat="(idx, i) in menuList" data-ng-if="i.top" data-ng-class="{on: i.active}">
					<a data-ng-href="{{commonLink({url:i.url,href:true})}}">
						<span class="ko">{{i.ko}}</span>
						<span class="en">{{i.en}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div id="btnMenu" data-ng-click="menu.toggle()">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div id="leftMenu">
			<div class="box">
				<ol class="theme">
					<li data-ng-click="theme.click('theme1')"></li>
					<li data-ng-click="theme.click('theme2')"></li>
					<li data-ng-click="theme.click('theme3')"></li>
					<li data-ng-click="theme.click('theme4')"></li>
					<li data-ng-click="theme.click('theme5')"></li>
				</ol>
				<ul>
					<li data-ng-repeat="(idx, i)  in menuList" data-ng-class="{on: i.active}">
						<a data-ng-href="{{commonLink({url:i.url,href:true})}}">
							<span class="ko">{{i.ko}}</span>
							<span class="en">{{i.en}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="leftMenuCover" data-ng-click="menu.toggle()">
	</div>
</div>