<div>
	<div id="kakaoContainer"></div>
	<div id="sns">
		<h5>친구에게 공유하기</h5>
		<ul class="sns">
			<li class="kakao" data-ng-click="sns('kakao')"></li>
			<li class="story" data-ng-click="sns('story')"></li>
			<li class="naver" data-ng-click="sns('naver')"></li>
			<li class="band" data-ng-click="sns('band')"></li>
			<li class="facebook" data-ng-click="sns('facebook')"></li>
			<li class="twitter" data-ng-click="sns('twitter')"></li>
			<!-- <li class="instar" data-ng-click="sns('instar')"></li> -->
		</ul>
	</div>
</div>